.Charts {
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: flex-end;
    padding: 50px;
    // height: 25em;
    &--serie {
        height: 100%;
        margin: 0 30px 0 0;
        display: inline-block;
        flex: 1;
        display: flex;
        align-items: flex-end;
        transform-origin: 0 100%;
        animation: slideUp .6s;
        position: relative;
        border-bottom: 1px solid #c2c2c2;
        label {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -50px;
            font-family: Helvetica, sans-serif;
            font-size: 20px;
            text-align: center;
            color: black;
        }
    }
    &--item {
        background-color: #43A19E;
        display: inline-block;
        margin: 0 5px 0 0;
        flex: 1;
        transition: height 1s ease-out, width 1s ease-out;
        position: relative;
        text-align: center;
        border-radius: 2px 2px 0 0;
        bar_total {
            position: absolute;
            font-family: Helvetica, sans-serif;
            font-size: 15px;
            margin: 0 auto;
            top: -20px;
            left: 0;
            right: 0;
            color: black;
        }
        bar_label {
            position: absolute;
            font-family: Helvetica, sans-serif;
            font-size: 15px;
            top: 100%;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-weight: bold;
            color: black;
        }
    }
}

@keyframes slideUp {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
